.DS_Store
Thumbs.db
*.tmp
*.temp

*.log

*.class

*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

hs_err_pid*
replay_pid*

.gradle/
build/

!gradle/wrapper/gradle-wrapper.jar
!gradlew
!gradlew.bat

.idea/
*.iml
out/
*.ipr
*.iws

.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/dictionaries
.idea/**/shelf/

*.pid

*.pem

**/build/
**/out/
**/target/

keygen/keys/
keygen/output/
keygen/generated/

**/private-key.pem
**/public-key.pem